/*============================================================================
  #General Variables
==============================================================================*/
/*================ Typography ================*/
/*****************************************/
/************** Basic ********************/
/*****************************************/
body {
  color: #585858;
  font-size: 17px;
  font-family: Roboto Condensed, Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0); }
  body.boxed-layout {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: left;
    background-position-y: top; }
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h6 {
    color: #222222; }
  body h1 {
    font-size: 30px;
    font-family: Roboto Condensed; }
  body h2 {
    font-size: 28px;
    font-family: Roboto Condensed; }
  body h3 {
    font-size: 24px;
    font-family: Roboto Condensed; }
  body h4 {
    font-size: 16px;
    font-family: Roboto Condensed; }
  body h5 {
    font-size: 17px;
    font-family: Roboto Condensed; }
  body h6 {
    font-size: 12px;
    font-family: Roboto Condensed; }

a {
  color: #000000; }
  a:focus {
    color: #2270b5; }
  a:hover {
    color: #2270b5; }

.fancy-btn {
  background: #2270b5;
  -webkit-box-shadow: 0 0 0 4px #2270b5;
  box-shadow: 0 0 0 4px #2270b5; }
  .fancy-btn.fancy-btn-small {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }

/* Block title */
.text-color {
  color: #2270b5; }

.section-title h3 .text-color {
  color: #2270b5; }

.nav-2 .section-title:after {
  color: #2270b5; }

/* Banner */
.banner-wrapper .banner-link:hover {
  border-color: #2270b5;
  background: #2270b5; }

.home-banner-top .banner-column.banner-column2 .sec-title2 {
  color: #2270b5; }

/*============================================================================
OWL Slider
==============================================================================*/
.owl-theme .owl-controls .owl-buttons > div:hover {
  border-color: #2270b5;
  background-color: #2270b5; }

.section-block.dark .owl-theme .owl-controls .owl-buttons > div:hover {
  color: #2270b5;
  background-color: #2270b5; }
.section-block.dark a:hover {
  color: #2270b5; }

.features-box .icon-block {
  color: #2270b5; }

.product-countdown .product-date > div .text {
  color: #2270b5; }

/*****************************************/
/************** Page ********************/
/*****************************************/
.item-processbar .processbar-width {
  background-color: #2270b5; }

.item-team .postion {
  color: #2270b5; }

.main-container .breadcrumbs ul li a:hover {
  color: #2270b5; }

.tooltip-inner {
  min-width: 80px;
  border-radius: 0; }

/*****************************************/
/************** Header ********************/
/*****************************************/
.top-bar a:hover {
  color: #2270b5; }

.top-menu ul.links a:hover {
  color: #8c8c8c; }

.mini-cart:hover .item-title a {
  color: #2270b5; }
  .mini-cart:hover .item-title a .cart-count {
    color: #fff;
    border-color: #2270b5;
    background: #2270b5; }
.mini-cart .item-cart .access a:hover {
  color: #fff; }
  .mini-cart .item-cart .access a:hover:before {
    border-color: transparent transparent #2270b5 transparent; }

.search-bar .btn-button:hover {
  border-color: #2270b5;
  background-color: #2270b5; }

.header-container .cart-wrapper.hover-content:before {
  background: #2270b5; }

.header-wrapper a:hover {
  color: #2270b5; }
.header-wrapper .item-title.skip-active {
  color: #2270b5; }
.header-wrapper .hover-content {
  border-color: #2270b5; }
  .header-wrapper .hover-content a:hover {
    color: #2270b5; }
  .header-wrapper .hover-content a.btn-button:hover, .header-wrapper .hover-content a.spr-button:hover {
    color: #fff; }
.header-wrapper .header-container .header-top .right-header-menu .cart-container .icon-cart-header .cart-count {
  background-color: #2270b5; }
.header-wrapper .header-container .header-top .right-header-menu .cart-container .cart-wrapper .cart-content ul li.item-cart .product-details .access .btn-remove:hover {
  color: #2270b5;
  border-color: #2270b5; }
.header-wrapper .header-container .navbar .navbar-header button {
  background: none !important; }
.header-wrapper .header-container .navbar .navbar-header:hover .navbar-toggle .icon-bar, .header-wrapper .header-container .navbar .navbar-header.skip-active .navbar-toggle .icon-bar {
  background-color: #2270b5; }

.widget-currency.hover-block .hover-content li.selected a {
  color: #2270b5; }

/*****************************************/
/************** Main Menu ********************/
/*****************************************/
.navigation-wrapper .main-navigation .top-navigation .level0 .level-top .cat-label {
  background-color: #ff7108;
  color: white; }
  .navigation-wrapper .main-navigation .top-navigation .level0 .level-top .cat-label:before {
    border-top-color: #ff7108; }
.navigation-wrapper .main-navigation .top-navigation .level0 .level-top.active:after, .navigation-wrapper .main-navigation .top-navigation .level0 .level-top:hover:after {
  border-color: #2270b5; }
.navigation-wrapper .main-navigation .top-navigation li.level0:hover > a {
  color: #2270b5; }
  .navigation-wrapper .main-navigation .top-navigation li.level0:hover > a:after {
    background: #2270b5; }
.navigation-wrapper .main-navigation .top-navigation li.level0 a.level-top.active, .navigation-wrapper .main-navigation .top-navigation li.level0 a.level-top:hover {
  color: #2270b5; }
  .navigation-wrapper .main-navigation .top-navigation li.level0 a.level-top.active:after, .navigation-wrapper .main-navigation .top-navigation li.level0 a.level-top:hover:after {
    background: #2270b5; }

.top-navigation li.level0 ul li a {
  color: #585858; }
  .top-navigation li.level0 ul li a.active, .top-navigation li.level0 ul li a:hover {
    color: #2270b5; }
.top-navigation li.level0 ul li.groups > a:after {
  background-color: #2270b5; }
.top-navigation li.level0 ul li.groups > a span {
  color: #2270b5; }
.top-navigation li.level0 ul li.groups > a.active, .top-navigation li.level0 ul li.groups > a:hover {
  color: #1f1f1f; }
  .top-navigation li.level0 ul li.groups > a.active span, .top-navigation li.level0 ul li.groups > a:hover span {
    color: #2270b5; }

.header-wrapper .header-container .header-top .item:hover .item-title .fa {
  color: #2270b5; }

/*============================================================================
Nivo Slider
==============================================================================*/
.custom-theme-default .nivo-controlNav a:hover, .custom-theme-default .nivo-controlNav a.active {
  border-color: #2270b5;
  background-color: #2270b5; }
.custom-theme-default .nivo-caption .btn_slider a {
  background-color: #2270b5;
  -webkit-box-shadow: 0 0 0 4px #2270b5;
  box-shadow: 0 0 0 4px #2270b5; }

/*============================================================================
#Nav accordion
=============================================================================*/
.nav-accordion li:hover:before, .nav-accordion li.active:before {
  color: #2270b5; }

/*============================================================================
Page
==============================================================================*/
.page-title h1:before,
.page-title h2:before,
.page-title h3:before,
.title-section:before {
  background: #2270b5; }

/*============================================================================
#Main-container
==============================================================================*/
.main-container .pagenav-wrap .pagination .page.current,
.main-container .pagenav-wrap .pagination .next.current,
.main-container .pagenav-wrap .pagination .prev.current,
.main-container .pagenav-wrap .pagination-search .page.current,
.main-container .pagenav-wrap .pagination-search .next.current,
.main-container .pagenav-wrap .pagination-search .prev.current {
  color: #2270b5; }
  .main-container .pagenav-wrap .pagination .page.current a,
  .main-container .pagenav-wrap .pagination .next.current a,
  .main-container .pagenav-wrap .pagination .prev.current a,
  .main-container .pagenav-wrap .pagination-search .page.current a,
  .main-container .pagenav-wrap .pagination-search .next.current a,
  .main-container .pagenav-wrap .pagination-search .prev.current a {
    color: #2270b5; }
  .main-container .pagenav-wrap .pagination .page.current:after, .main-container .pagenav-wrap .pagination .page.current:before,
  .main-container .pagenav-wrap .pagination .next.current:after,
  .main-container .pagenav-wrap .pagination .next.current:before,
  .main-container .pagenav-wrap .pagination .prev.current:after,
  .main-container .pagenav-wrap .pagination .prev.current:before,
  .main-container .pagenav-wrap .pagination-search .page.current:after,
  .main-container .pagenav-wrap .pagination-search .page.current:before,
  .main-container .pagenav-wrap .pagination-search .next.current:after,
  .main-container .pagenav-wrap .pagination-search .next.current:before,
  .main-container .pagenav-wrap .pagination-search .prev.current:after,
  .main-container .pagenav-wrap .pagination-search .prev.current:before {
    background-color: #2270b5; }
.main-container .pagenav-wrap .pagination .page:hover,
.main-container .pagenav-wrap .pagination .next:hover,
.main-container .pagenav-wrap .pagination .prev:hover,
.main-container .pagenav-wrap .pagination-search .page:hover,
.main-container .pagenav-wrap .pagination-search .next:hover,
.main-container .pagenav-wrap .pagination-search .prev:hover {
  color: #2270b5; }
  .main-container .pagenav-wrap .pagination .page:hover a,
  .main-container .pagenav-wrap .pagination .next:hover a,
  .main-container .pagenav-wrap .pagination .prev:hover a,
  .main-container .pagenav-wrap .pagination-search .page:hover a,
  .main-container .pagenav-wrap .pagination-search .next:hover a,
  .main-container .pagenav-wrap .pagination-search .prev:hover a {
    color: #2270b5; }
  .main-container .pagenav-wrap .pagination .page:hover:after, .main-container .pagenav-wrap .pagination .page:hover:before,
  .main-container .pagenav-wrap .pagination .next:hover:after,
  .main-container .pagenav-wrap .pagination .next:hover:before,
  .main-container .pagenav-wrap .pagination .prev:hover:after,
  .main-container .pagenav-wrap .pagination .prev:hover:before,
  .main-container .pagenav-wrap .pagination-search .page:hover:after,
  .main-container .pagenav-wrap .pagination-search .page:hover:before,
  .main-container .pagenav-wrap .pagination-search .next:hover:after,
  .main-container .pagenav-wrap .pagination-search .next:hover:before,
  .main-container .pagenav-wrap .pagination-search .prev:hover:after,
  .main-container .pagenav-wrap .pagination-search .prev:hover:before {
    background-color: #2270b5; }

/*============================================================================
Testimonial
==============================================================================*/
.home-testimonials .owl-theme .owl-controls .owl-page:hover span, .home-testimonials .owl-theme .owl-controls .owl-page.active span {
  background: #2270b5; }

/*****************************************/
/************** Product Item ********************/
/*****************************************/
.price-content {
  color: #2270b5; }
  .price-content .money span {
    color: #979797; }

.rating-box .spr-badge-starrating .spr-icon {
  color: #2270b5; }

.actions .action-list a:hover,
.actions .action-list button:hover {
  background-color: #2270b5; }

.product-item .product-action .product-label {
  background: #2270b5; }

.products-grid.vina-carousel .product-item .product-action a.product-image:before {
  border-bottom: 3px solid #2270b5; }

/*****************************************/
/************** List Products ********************/
/*****************************************/
.toolbar .view-mode span.layout-opt:hover, .toolbar .view-mode span.layout-opt.active {
  color: #2270b5; }

/* Layout List Product */
.product-item.product-layout-list .product-content .actions.vgsp-button-group2 .action-list a:hover {
  color: #2270b5; }
.product-item.product-layout-list .product-content .actions.vgsp-button-group2 .action-list.addtocart a,
.product-item.product-layout-list .product-content .actions.vgsp-button-group2 .action-list.addtocart .btn-cart {
  background: #2270b5; }
  .product-item.product-layout-list .product-content .actions.vgsp-button-group2 .action-list.addtocart a:hover,
  .product-item.product-layout-list .product-content .actions.vgsp-button-group2 .action-list.addtocart .btn-cart:hover {
    color: #fff;
    background: #2270b5; }

/*****************************************/
/************** Sidebar ********************/
/*****************************************/
/* Sidebar */
.sidebar .block .block-title {
  color: #2270b5; }
  .sidebar .block .block-title:before {
    background-color: #2270b5; }
.sidebar .block.block-nav .block-content ul li a:hover {
  color: #2270b5; }
.sidebar .block.post-tags .block-content ul li a.active, .sidebar .block.post-tags .block-content ul li a:hover {
  color: #fff;
  border-color: #2270b5;
  background-color: #2270b5;
  color: #fff; }
.sidebar .narrow-by-list .layer-filter .swatch-checkbox .checkbox:before {
  border-color: #2270b5; }

.main-container .nav-categories li a.active, .main-container .nav-categories li a:hover {
  color: #2270b5; }
  .main-container .nav-categories li a.active:before, .main-container .nav-categories li a:hover:before {
    color: #2270b5; }
.main-container .sidebar .narrow-by-list .layer-filter ol.swatch-list li .item:hover, .main-container .sidebar .narrow-by-list .layer-filter ol.swatch-list li .item.active {
  color: #2270b5; }
  .main-container .sidebar .narrow-by-list .layer-filter ol.swatch-list li .item:hover .name, .main-container .sidebar .narrow-by-list .layer-filter ol.swatch-list li .item.active .name {
    color: #2270b5; }
.main-container .sidebar .narrow-by-list .layer-filter.size .swatch-list .item:hover, .main-container .sidebar .narrow-by-list .layer-filter.size .swatch-list .item.active {
  color: #fff;
  background-color: #2270b5; }
  .main-container .sidebar .narrow-by-list .layer-filter.size .swatch-list .item:hover .name, .main-container .sidebar .narrow-by-list .layer-filter.size .swatch-list .item.active .name {
    color: #fff; }

/*****************************************/
/************** Product Detail ********************/
/*****************************************/
.product-qty .items:hover {
  background: #2270b5; }

.product-view .product-shop h2:after {
  background: #2270b5; }
.product-view .product-options .swatch.size input:checked + label,
.product-view .product-options .swatch.size input:checked + .img {
  border-color: #2270b5;
  background-color: #2270b5; }
.product-view .product-options .swatch.size label:hover {
  border-color: #2270b5;
  background-color: #2270b5; }
.product-view .product-img-box .product-img-list .product-image .product-image-gallery .zoom_in_marker {
  background: #2270b5; }

.product-options-bottom .actions .action-list .link-wishlist:hover {
  background-color: #2270b5; }

.product-view .product-prev-next a:hover {
  border-color: #2270b5;
  background-color: #2270b5; }
.product-view .product-essential .actions .action-list a.btn-cart,
.product-view .product-essential .actions .action-list .btn-cart {
  color: #fff;
  background-color: #2270b5; }
.product-view .review-product-details .spr-badge .spr-badge-caption:hover {
  color: #2270b5 !important; }
.product-view .product-share a:hover {
  background-color: #2270b5; }
.product-view .product-img-box .product-img-list #more-slides .item a:hover {
  border-color: #2270b5; }
.product-view .product-img-box .product-img-list #more-slides .owl-buttons > div {
  background: #2270b5; }

#product-accordion .panel-heading a {
  color: #2270b5; }
  #product-accordion .panel-heading a.collapsed {
    color: #252525; }
    #product-accordion .panel-heading a.collapsed:hover {
      color: #2270b5; }
  #product-accordion .panel-heading a:hover {
    color: #2270b5; }

/* Scroll */
.mCS-dark-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #2270b5; }

.product-tab .product-tabs-content-inner .title-2 span, .product-tab .product-tabs-content-inner .title-3 span {
  color: #2270b5; }

.price-tag .sale-price,
.price-tag .text-color {
  color: #2270b5; }

/*****************************************/
/************** Blog ********************/
/*****************************************/
h3.postTitle:hover a {
  color: #2270b5; }

a.btn-readmore {
  color: #2270b5; }
  a.btn-readmore:hover {
    color: #1f1f1f; }

.entry-time {
  background: #2270b5; }

.tags-links a:hover {
  border-color: #2270b5; }

/* Blog Sidebar */
.post-sidebar-img a:hover {
  border-color: #2270b5; }

/*============================================================================
Blog slider
==============================================================================*/
.blog-slider .post-time {
  background: #2270b5; }

/* Contact Page */
.contact-container input[type="submit"] {
  border-color: #2270b5;
  background: #2270b5; }
.contact-container .social-icons li a:hover {
  background: #2270b5; }

/* About Page */
.cta-section .cta-actions a {
  background: #2270b5; }
  .cta-section .cta-actions a:hover {
    background: #666; }

/* ============================================================================
Compare Block
==============================================================================*/
.compare-block h3 .sec-title2 {
  color: #2270b5; }
.compare-block .compare-actions a.compare-add-to-cart {
  color: #2270b5; }

/*============================================================================
Purchase Action
==============================================================================*/
.home-purchase-action h2 span {
  color: #2270b5; }

/*****************************************/
/************** Footer ********************/
/*****************************************/
#subscribe_footer .item .actions:before {
  background: #2270b5; }
#subscribe_footer .item .actions input:hover {
  color: #2270b5; }

ul.footer-list li a:after {
  background-color: #2270b5; }

.footer-wrapper #back-top a .sticker-wrapper .sticker {
  background: #2270b5; }

.footer-copyright-inner .copyright a {
  color: #2270b5; }

/* Newsletter Popup */
.newsletterbox #cboxClose:hover {
  background-color: #2270b5; }
.newsletterbox #popup_newsletter.block-subscribe form .action-newsletter input.btn-button {
  background: #2270b5; }
