@media only screen and (min-width: 769px) {
.medium-up--three-fifths {
    width: 70%;
	}	
}
@media only screen and (min-width: 769px) {
.medium-up--two-fifths {
    width: 30%;
	}
}


.bold_option_element, .bold_option_element input, .bold_option_element select, .bold_option_element textarea {
    width: 100%;
}
.label, label:not(.variant__button-label):not(.text-label) {
    letter-spacing: .1em;
   /* font-size: 1.2em; */
}

.color-swatch {
  max-width:36px;
  max-height:36px;
}

/* [1] The container */
.img-hover-zoom {
  height: auto; /* [1.1] Set it as per your need */
  width: 100%;
  overflow: visible; /* [1.2] Hide the overflowing of child elements */
  cursor: pointer;
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .3s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.2);
}

@media screen and (min-width: 769px) {
.lg\:w-2\/5  {

    width: 40%;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 5px 8px 19px #ccc;
	}
}


.site-nav__dropdown a:hover {
  color:#0091DA;
}

@media only screen and (min-width: 600px) {
  .sms-text-message {
	display:none;
  }
}

.sms-text-message{
	margin: 0 auto;
  	text-align: center;
  	font-size: 1.2em;
}

@media only screen and (max-width: 750px) {
#shopify-section-template--16710968770780 {
display: none;
}
}

.rte-setting a:not(.btn):not(.spr-summary-actions-newreview):after, .rte a:not(.btn):not(.spr-summary-actions-newreview):after {

    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    border-bottom: 0px solid currentColor; 
    transition: width .5s ease; 
}
.installimg-container {
  position: relative;
  width: 100%;
}

.installimg-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.installimg-middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.installimg-container:hover .installimg-image {
  opacity: 0.3;
}

.installimg-container:hover .installimg-middle {
  opacity: 1;
}

.installimg-text {
  background-color: #0092dd;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.active-color {
  border: 2px solid black;
}

.flex.flex-col.w-6.h-6.mr-2.mb-2.rounded.relative {
  height: 2.5rem;
  width: 3.26rem;
}

button.btn.btn--body.btn--circle.pswp__button.pswp__button--arrow--left {
  display: none;
}

button.btn.btn--body.btn--circle.pswp__button.pswp__button--arrow--right {
  display: none;
}